{% extends '::base.html.twig' %}
{% block css %}
    {% include 'result.html.twig' %}
{% endblock %}
{% block title %}Search result · {{ parent() }}{% endblock %}
{% block body %}
    <div id="search-wrapper">
        <div class="container search-box">
            <p class="fs-20">Advanced filters</p>
            <hr />
            <form class="advanced-search" action='{{ url('gc_main_search') }}'>
                <div class="dispo">
                    <span>
                         Availabilities:
                    </span>
                    <div>
                        <input id="cb-1" class="cb" name="days[]" type="checkbox" {% if 'mon' in app.request.get('days') %}checked{% endif %} value="mon">
                        <label for="cb-1" class="cb-label">Monday</label>
                    </div>
                    <div>
                        <input id="cb-2" class="cb" name="days[]" type="checkbox" {% if 'tue' in app.request.get('days') %}checked{% endif %} value="tue">
                        <label for="cb-2" class="cb-label">Tuesday</label>
                    </div>
                    <div>
                        <input id="cb-3" class="cb" name="days[]" type="checkbox" {% if 'wed' in app.request.get('days') %}checked{% endif %} value="wed">
                        <label for="cb-3" class="cb-label">Wednesday</label>
                    </div>
                    <div>
                        <input id="cb-4" class="cb" name="days[]" type="checkbox" {% if 'thu' in app.request.get('days') %}checked{% endif %} value="thu">
                        <label for="cb-4" class="cb-label">Thursday</label>
                    </div>
                    <div>
                        <input id="cb-5" class="cb" name="days[]" type="checkbox" {% if 'fri' in app.request.get('days') %}checked{% endif %} value="fri">
                        <label for="cb-5" class="cb-label">Friday</label>
                    </div>
                </div>
                <hr/>
                <div class="select-wrapper">
                    <div class="specialization">
                    <span>
                        Specialization:
                    </span>
                        <div class="select">
                            <select name="spec">
                                <option value="">Specialization</option>
                                <option {% if app.request.get('spec') == 'dph' %}selected{% endif %} value="dph">Dental Public Health</option>
                                <option {% if app.request.get('spec') == 'end' %}selected{% endif %} value="end">Endodontics</option>
                                <option {% if app.request.get('spec') == 'omp' %}selected{% endif %} value="omp">Oral and Maxillofacial Pathology</option>
                                <option {% if app.request.get('spec') == 'omr' %}selected{% endif %} value="omr">Oral and Maxillofacial Radiology</option>
                                <option {% if app.request.get('spec') == 'oms' %}selected{% endif %} value="oms">Oral and Maxillofacial Surgery</option>
                                <option {% if app.request.get('spec') == 'odo' %}selected{% endif %} value="odo">Orthodontics and Dentofacial Orthopedics</option>
                                <option {% if app.request.get('spec') == 'pd' %}selected{% endif %} value="pd">Pediatric Dentistry</option>
                                <option {% if app.request.get('spec') == 'per' %}selected{% endif %} value="per">Periodontics</option>
                                <option {% if app.request.get('spec') == 'pro' %}selected{% endif %} value="pro">Prosthodontics</option>
                            </select>
                        </div>
                    </div>
                    <div class="opening">
                    <span>
                        Opening:
                    </span>
                        <div class="select">
                            <select name="ahour">
                                <option value="" >Appointment hour</option>
                                <option {% if app.request.get('ahour') == '08' %}selected{% endif %} value="08">08h</option>
                                <option {% if app.request.get('ahour') == '09' %}selected{% endif %} value="09">09h</option>
                                <option {% if app.request.get('ahour') == '10' %}selected{% endif %} value="10">10h</option>
                                <option {% if app.request.get('ahour') == '11' %}selected{% endif %} value="11">11h</option>
                                <option {% if app.request.get('ahour') == '12' %}selected{% endif %} value="12">12h</option>
                                <option {% if app.request.get('ahour') == '13' %}selected{% endif %} value="13">13h</option>
                                <option {% if app.request.get('ahour') == '14' %}selected{% endif %} value="14">14h</option>
                                <option {% if app.request.get('ahour') == '15' %}selected{% endif %} value="15">15h</option>
                                <option {% if app.request.get('ahour') == '16' %}selected{% endif %} value="16">16h</option>
                                <option {% if app.request.get('ahour') == '17' %}selected{% endif %} value="17">17h</option>
                                <option {% if app.request.get('ahour') == '18' %}selected{% endif %} value="18">18h</option>
                                <option {% if app.request.get('ahour') == '19' %}selected{% endif %} value="19">19h</option>
                                <option {% if app.request.get('ahour') == '20' %}selected{% endif %} value="20">20h</option>
                            </select>
                        </div>
                    </div>
                </div>
                <button class="advanced-submit" type="submit">Search &raquo;</button>
            </form>
        </div>
        <div class="container search-box results">
            {% if query %}
                <p>Search results for « {{ query }} »</p>
            {% else %}
                <p>All dentists</p>
            {% endif %}
            {% if resultsCount %}
                <p>{{ resultsCount }} result{% if resultsCount > 1 %}s{% endif %} found</p>
            {% else %}
                <p>No results found so far.</p>
            {% endif %}
        </div>
        {% if results %}
            <div class="container search-results">
                {% for dentist in results %}
                    <a class="search-result-item" href="{{ path('gc_main_detail', {'dentist_id': dentist.id }) }}">
                        <div class="detail">
                            <ul>
                                <li class="name">{% if dentist.gender %}Mr {% else %}Mrs {% endif %}{{ dentist.firstname }} {{ dentist.lastname }}</li>
                                {% if dentist.specialty | length > 0 %}
                                    <li class="specialty">{{ dentist.specialty }}</li>
                                {% endif %}
                                <li class="address">{{ dentist.address }},</li>
                                <li class="city">{{ dentist.city }}</li>
                                <li class="phone">Tel: {{ dentist.phone }}</li>
                            </ul>
                        </div>
                        <div class="right">
                            <div class="photo">
                                {% if dentist.image | length > 0 %}
                                    <img src="data:image/png;{{ dentist.image }}"
                                         alt="{{ dentist.firstname }} {{ dentist.lastname }}'s photo"/>
                                {% endif %}
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
