{% extends '::base.html.twig' %}
{% block css %}
    {% include 'result.html.twig' %}
{% endblock %}
{% block title %}Search result · {{ parent() }}{% endblock %}
{% block body %}
    <div id="search-wrapper">
        <div class="container search-box">
            <p class="fs-20">Advanced Search</p>
            <hr />
            <form class="checkboxes">
                <div>
                    <input id="cb-1" class="cb" name="cb-1" type="checkbox" checked>
                    <label for="cb-1" class="cb-label">Monday</label>
                </div>
                <div>
                    <input id="cb-2" class="cb" name="cb-2" type="checkbox">
                    <label for="cb-2" class="cb-label">Tuesday</label>
                </div>
                <div>
                    <input id="cb-3" class="cb" name="cb-3" type="checkbox">
                    <label for="cb-3"class="cb-label">Wednesday</label>
                </div>
                <div>
                    <input id="cb-4" class="cb" name="cb-4" type="checkbox">
                    <label for="cb-4"class="cb-label">Thursday</label>
                </div>
                <div>
                    <input id="cb-5" class="cb" name="cb-5" type="checkbox">
                    <label for="cb-5"class="cb-label">Friday</label>
                </div>
            </form>
        </div>
        <div class="container search-box">
            {% if query %}
                <p>Search results for « {{ query }} »</p>
            {% else %}
                <p>All dentists</p>
            {% endif %}
            {% if resultsCount %}
                <p>{{ resultsCount }} result{% if resultsCount > 1 %}s{% endif %} found</p>
            {% else %}
                <p>No results found so far.</p>
            {% endif %}
        </div>
        {% if results %}
            <div class="container search-results">
                {% for dentist in results %}
                    <a class="search-result-item" href="{{ path('gc_main_detail', {'dentist_id': dentist.id }) }}">
                        <div class="detail">
                            <ul>
                                <li class="name">{{ dentist.firstname }} {{ dentist.lastname }}</li>
                                {% if dentist.specialty | length > 0 %}
                                    <li class="specialty">{{ dentist.specialty }}</li>
                                {% endif %}
                                <li class="address">{{ dentist.address }} {{ dentist.city }}</li>
                                <li class="phone">{{ dentist.phone }}</li>
                            </ul>
                        </div>
                        <div class="right">
                            <div class="photo">
                                {% if dentist.image | length > 0 %}
                                    <img src="data:image/png;{{ dentist.image }}"
                                         alt="{{ dentist.firstname }} {{ dentist.lastname }}'s photo"/>
                                {% endif %}
                            </div>
                            <div class="button-detail"><span>Details &raquo;</span></div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
